nav{
    padding: 10px;
    background-color: lightgray;
}
body{
    background-color: whitesmoke;
}
.card-body{
    border-width: 1cap;
    border: solid darkgray;
    
}
.reseña-usuario{
    border-radius: 5px ;
}