/* Estilos generales */



@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}
.logo {
    max-width: 200px; /* Ajusta el ancho máximo del logo según sea necesario */
    height: auto; /* Permite que la altura se ajuste automáticamente según el ancho */
    margin-bottom: 10px; /* Agrega un margen inferior para separar el logo del título */
}
body {
    background: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages.alphacoders.com%2F548%2Fthumb-1920-548134.jpg&f=1&nofb=1&ipt=9319547e3c0178d584791993ab603a5f8921bd7d102dc4f3daa48c09d1b463d0&ipo=images); 
    background-size:auto; /* Ajusta la imagen para cubrir todo el fondo */
    background-attachment: fixed; /* Mantiene la imagen fija en su posición */
    background-position: center; /* Centra la imagen en el fondo */
    color: #fff; /* Texto blanco */
    margin: 0;
    padding: 0;
} 

.title{
    max-width: 400px; /* Ajusta el ancho máximo del logo según sea necesario */
    height: auto; /* Permite que la altura se ajuste automáticamente según el ancho */
    margin-bottom: 10px; /* Agrega un margen inferior para separar el logo del título */
}

.logo-container {
    display: flex ; 
    justify-content: center ;
}
.title-container {
    display: flex ; 
    justify-content: center ;
}

.sub-container {
    background-color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px #555;
    color: #fff;
    border: 3px solid rgb(25, 238, 238);
    transition: 0.7s;
    &:hover {
        border: solid rgb(211, 247, 247);
    }
}
.subtitle {
    /* font-family: 'Arial', sans-serif;  Puedes cambiar la fuente según tus preferencias */
    font-size: 1.5em; /* Ajusta el tamaño de la fuente según sea necesario */
    font-weight: bold;
  
    letter-spacing: 2px; /* Espaciado entre letras */
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8); 
    color: rgb(88, 252, 175); /* Color del texto */
    transition: 0.7s;
    &:hover {
        color: rgb(211, 247, 247);
    }
}
.row {
    max-height: none;
}

.container {
    margin-top: 20px;
}

.card {
    background-color: #111; /* Fondo oscuro */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); /* Sombra con color claro */
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.text-card-header {
    font-size: 24px;
    margin-bottom: 10px;
    color: #fff; /* Texto blanco */
}

.card-title {
    font-size: 24px;
    color: #fff;
}

.card-text {
    color: #aaa; /* Texto gris claro */
}

/* Estilos para el enlace cuando se hace hover */
.game {
    text-decoration: none;
    color: #007bff;
    transition: 0.2s;
}

.header {
    text-align: center;
    padding: 20px;
    background-color: #222; /* Color de fondo del encabezado */
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* Tarjetas de videojuegos */
.card {
    background-color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px #555;
    color: #fff;
    border: 10px solid rgb(25, 238, 238);
    transition: 0.41s;
    &:hover {
        border: 7px solid rgb(211, 247, 247);
    }
}

/* Botones */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
    color: #fff;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #218838;
}

/* Pie de página */
footer {
    background-color: #000;
    color: #fff;
    padding: 10px 0;
}

/* Estilos para la barra de navegación */
.navbar {
    background-color: #190C26;
}

.navbar-brand {
    color: #fff;
    text-align: center;
    width: 100%;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-nav .nav-link {
    color: #aaa;
    transition: color 0.2s;
}

.navbar-nav .nav-link:hover {
    color: #007bff;
}

/* Estilos para el botón de "Crear Nuevo Elemento" */
.text-center .btn-success {
    margin-top: 20px;
    border: 1px solid rgba(10, 180, 180, 1);
    background: rgba(20, 20, 20, .6);
    font-size: 18px;
    color: white;
    margin-top: 20px;
    padding: 10px 10px;
    cursor: pointer;
    transition: .4s;
    &:hover {
      background: rgba(20, 20, 20, .8);
      padding: 10px 25px;
    }
  }


.partner {
    color: #ffac14;
    transition: 0.2s;
    &:hover {
        color: red;
    }
}

.card-body:hover + .partner {
    color: darkorange;
}

.card-body:hover {
    background-color: #424242;
}

.card-body {
    padding: 20px;
    background-color: #000;
    border-radius: 0 0 10px 10px;
    transition: 0.2s;
}

footer {
    background-color: #313131;
  
}
