/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

img {

    height: 50px;
    width: 120px;

}

.game {
    text-decoration: none;



}
.game:hover{

background-color: silver;

}

.container {
    margin-top: 20px;
}

.header {
    background-color: #343a40;
    color: white;
    padding: 20px;
}

.header a {
    color: white;
    text-decoration: none;
}

/* Tarjetas de videojuegos */
.card {
    margin-bottom: 20px;
    
}

.card-title {
    font-size: 1.25rem;
}

.card-text {
    font-size: 1rem;
}

/* Botones */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #218838;
}

/* Pie de página */
footer {
    background-color: #343a40;
    color: white;
    padding: 10px 0;
}

/* Estilos para la barra de navegación */
.navbar {
    background-color: #343a40;
}

.navbar-brand {
    color: white;
}

.navbar-nav .nav-link {
    color: white;
}

.navbar-nav .nav-link:hover {
    color: #007bff;
}

/* Estilos para el botón de "Crear Nuevo Elemento" */
.text-center .btn-success {
    margin-top: 20px;
}