/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.row {
    max-height: none;
}
.container {
    margin-top: 20px;
}
.card {
    background-color: white;
    
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
 
  
}

.card-body {
    padding: 20px; /* Aumenta el margen superior aquí */
    background-color: #f9f9f9; /* Cambia el fondo del cuerpo de la tarjeta */
    border-radius: 0 0 10px 10px; /* Borde inferior redondeado */
}
.text-card-header {
    font-size: 24px; 
    margin-bottom: 10px;
}
.card-title {
    font-size: 24px; /* Tamaño de fuente personalizado */
    color: #333; /* Color de texto personalizado */
}

.card-text {
    color: #777; /* Color de texto personalizado */
}

/* Estilos para el enlace cuando se hace hover */
.game {
    text-decoration: none; /* Quitar el subrayado al hacer hover */
    color: #007bff; /* Cambiar el color del enlace al hacer hover */
}
.card-body:hover {
    background-color: lightgrey;
}

.header {
    background-color: #343a40;
    color: white;
    padding: 20px;
}

.header a {
    color: white;
    text-decoration: none;
}

/* Tarjetas de videojuegos */
.card {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
    
}

.card-body {
    padding: 20px; /* Aumenta el margen superior aquí */
}



/* Botones */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
    color: white;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #218838;
}

/* Pie de página */
footer {
    background-color: #343a40;
    color: white;
    padding: 10px 0;
}

/* Estilos para la barra de navegación */
.navbar {
    background-color: #126dc7;
}

.navbar-brand {
    color: black;
}

.navbar-nav .nav-link {
    color: darkred;
    transition: color 0.2s; /* Agregamos una transición de color suave para la animación de hover */
}

.navbar-nav .nav-link:hover {
    color: darkblue;
}

/* Estilos para el botón de "Crear Nuevo Elemento" */
.text-center .btn-success {
    margin-top: 20px;
}
